.container{
    border: 1px solid #acacac;
    display: flex;
    flex-direction: row;
    border-radius: 15px;
    flex-wrap: wrap;
    gap: 1em;
    /* justify-content: space-e; */
    align-items: flex-end;
    width: 100vw;
    margin-top: 15px;
}

.paginadoContainer {
    display: flex;
    justify-content: center;
    margin-top: 1rem; /* Ajusta el margen superior según tus necesidades */
    align-content: center;
    justify-content: center;
    align-items: center;
  }
