.card{
    border: 1px solid black;
    width: fit-content;
    height: fit-content;
    border-radius: 10px;
    justify-content: center;
    text-decoration: none;
    color: black;
    background-color: #ebebeb;
    box-shadow: 0px 2px 4px rgba(238, 255, 0, 0.2);
    border-radius: 10px;
    font-family: "Arial", sans-serif;
    font-size: 14px;
    color: black;
    margin-top: 15px;
}